
    .colorazul{
        color: blue;
    }

    .colorcafe{
        color: chocolate;
    }

    .parrafo{

        color: rgb(22, 187, 22);

       background-color: darkmagenta;

        font-size: 16 px;

    }

    .p{
        
        font-size: 80px;
    }


    .lista{

        color: brown;

        font-size : 24px;
    }

